:root {
  --color-main: #08061c;
  --color-main-light: #16112a;
  --color-secondary: #00ea9b;
  --color-light: #ffffff;
  --color-medium: #9a98a4;
}

html,
body,
#root { 
  display: flex;
  flex: 1;
  height: 100%;
}

.loader {
  border: 2px solid var(--color-light);
  border-top: 2px solid var(--color-secondary);
  border-radius: 100%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
  opacity: 0.7;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}